.structure-companies {
  max-width: 30%;
  padding: 20px;
}
.block-podr {
  padding-left: 20px;
}
.name-sotr {
  margin-left: 20px;
  padding-left: 20px;
  margin-bottom: 5px;
  cursor: pointer;
}
.name-TK,
.name-podr,
.name-sotr {
  border: 1px solid #68e268;
  border-radius: 15px;
  background-color: #68e268;
}
summary { 
  display: block;
  padding-left: 20px;
  margin-bottom: 5px;
}